.new.badge.circle {
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
background-clip: padding-box;
}

nav ul a {
  position: relative;
}

.container.wide {
  width: 95%;
}