@font-face {
    font-family: "NotoKufi";
    src: url(../font/NotoKufiArabic-unhinted/NotoKufiArabic-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "NotoKufi";
    src: url(../font/NotoKufiArabic-unhinted/NotoKufiArabic-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "NotoNaskh";
    src: url(../font/NotoNaskhArabic-unhinted/NotoNaskhArabic-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "NotoNaskh";
    src: url(../font/NotoNaskhArabic-unhinted/NotoNaskhArabic-Bold.ttf);
    font-weight: 700;
}